<h1>Dictionary</h1>
<div class="container">
  <form action="" method="get">
    <label for="userWord">Enter a word to add it to the dictionary:</label>
    <input id="userWord" name="userWord" type="text" placeholder="Enter a word:">
    <button type="submit" class="btn btn-info">Add Word</button>
  </form>
</div>
